@charset "utf-8";

@font-face {
    font-family: Champagne;
    src: url('cac_champagne.woff') format('woff'),
        url('cac_champagne.ttf') format('truetype');
}

@font-face {
    font-family: Dobkin;
    src: url('DobkinPlain.woff') format('woff'),
        url('DobkinPlain.ttf') format('truetype');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 4
   
   Great Lakescape Lodge Style Sheet
   Author: Connor J Webdale
   Date: 9.7.18 
   
   Filename: lake_styles.css 

*/

/*HTML and Body Styles*/
/*changed document and body backgrounds to match the logo colors*/
html {
    /* background-color: rgba(110, 36, 94, 0.5); */
    /* background-color: hsla(270, 81%, 19%, 0.479); */
    background-color: hsla(274, 66%, 9%, 0.725);
}

body {
    background-color: gainsboro;
}

/*Navigation Styles*/
/*Set style rules for the background, text color, and style of links. Changed font size for the hovered or active links. */
nav#header {
    background-color: rgb(200, 200, 200);
}

nav#header>ul>li>a,
nav#header>ul>li>a:visited {
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;
    color: rgb(43, 50, 124);
}

nav#header>ul>li>a:hover,
nav#header>ul>li>a:active {
    font-size: 1.1em;
    padding-top: 8.6px;
    padding-bottom: 8.6px;
    text-decoration: none;
    background-color: rgb(180, 180, 180);
}

/*Left Column Styles*/
/*Added a style rule to change font, font size, and margins of the "Welcome" text. */
section h1 {
    margin: 8px 0px 8px 15px;
    font-size: 2.4em;
    font-family: 'Dobkin';
}

/*Style rule to set font of "Notes" and "Upcoming Events" text to 'Champagne'*/
section#leftcol aside h1 {
    font-family: 'Champagne';
}

/*Indented beginning text and changed font. */
section#leftcol p {
    text-indent: 4%;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 8px;
}

/*Changed font and margins for the aside text. */
aside {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside h1 {
    text-align: center;
    font-family: 'Champagne';
    margin: 8px 0px 14px 0px;
}

/*Notes Aside Styles*/
/*Changed background color to stand-out from body paragraph. */
aside#notes {
    background-color: hsla(36, 98%, 57%, 0.37);
}

aside#notes ul {
    padding-left: 35px;
}

/*Upcoming Events Aside Styles*/
/*Changed background color to stand out from body paragraph and the "Notes" aside. Changed font size and margins to have a length similar to the "Notes" aside. */
aside#upcoming {
    background-color: hsla(4, 79%, 43%, 0.37);
}

aside#upcoming h2 {
    font-size: 1.2em;
    margin: 0px 4px 4px 4px;
}

aside#upcoming p {
    margin-top: 2px;
    margin-bottom: 0px;
}

/*Right Column Styles*/
/*Changed background color and margins to be less cluttered. */
section#rightcol {
    background-color: hsla(273, 57%, 66%, 0.37);
    margin-right: 0px;
    margin-top: 27.5px;
}

section#rightcol h2 {
    margin: 10px 0px 5px 0px;
}

nav#rightcol h2 {
    padding-left: 6px;
}

/*Added style rules to make links less cluttered. Added style rules to create a difference between active and hovered links. */
nav#rightcol>ul {
    list-style-type: none;
    padding-left: 25px;
    margin-top: 9px;
    margin-bottom: 0px;
}

nav#rightcol>ul>li>a,
nav#rightcol>ul>li>a:visited {
    text-decoration: none;
    color: rgb(43, 50, 124);
}

nav#rightcol>ul>li>a:hover,
nav#rightcol>ul>li>a:active {
    color: rgba(43, 50, 124, 0.4);
    text-decoration: underline;  
}

/*Blockquote Styles*/
/*Changed margins to be more readable on the page. */
section#rightcol blockquote {
    margin: 16px 20px 16px 15px;
}

/*Added quotes before and after the content of blockquotes. */
blockquote::before {
    content: open-quote;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

blockquote::after {
    content: close-quote;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/*Footer Styles*/
/*Set footer styles to a dark grey to be more noticeable. */
footer {
    background: rgb(190, 190, 190);
    text-align: center;
}
/*Horizontal Rule Styles*/
hr {
    color: antiquewhite;
}